# Còpia aquest fitxer com .env i omple els valors reals
# NO commitegis mai el .env al repositori

# Django
DJANGO_SECRET_KEY=canvia-aquesta-clau-secreta
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL
DB_NAME=el_teu_usuari
DB_USER=el_teu_usuari
DB_PASSWORD=la_teva_contrasenya
DB_HOST=ubiwan
DB_PORT=5432
DB_SCHEMA=practica
